@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 100% 95%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 46 100% 55%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 93%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 40%;

    --accent: 351 100% 67%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 351 100% 67%;

    --neon-border: 0 0% 10%;
    --neon-shadow: 0 0% 10%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
